
  <main><!--corpo -->
    <section class="bannerPCGamer">
        <div class="main-grid ppg">
            <div class="conteudo-banner">
                <a routerLink="#"><h1>obtenha um setup campeão</h1></a>
            </div><!--class="conteudo-banner" -->
        </div><!--class="main-grid- ppg" -->
    </section><!--class="bannerPCGamer" -->
    <section class="bannerConsole">
        <div class="main-grid pc">
            <div class="conteudo-banner">
                <a routerLink="#"><h1>o poder na palma da mão</h1></a>
            </div>
        </div>
    </section>
    <div class="ofertaLoja">
        <div class="main-gridloja">
            <div class="conteudo-produtos">
                <div class="itens">
                    <img src="assets/IMG/controle_ps5.png" alt="controle ps5">
                    <div class="texto-produto">
                        <h2>Controle sem Fio PS5</h2>
                        <p>Obtenha uma excelente</p>
                        <p>performance</p>
                        <p class="verde">à vista</p>
                        <p class="precos">R$444,44</p>
                        <p class="tmenor">no pix com 9,9% de desconto</p>
                        <p class="precos">R$ 499,99</p>
                        <p>em até 12X de </p><h6 class="precos">R$ 41,67</h6><p>sem juros no cartão de crédito</p>
                        <a routerLink="/login"> <button type="submit">comprar</button></a>
                    </div>
                </div>
                <div class="itens">
                    <img src="assets/IMG/ones.png" alt="xbox one">
                    <div class="texto-produto">
                        <h2>Xbox Series X</h2>
                        <p>versão brasileira</p>
                        <p>um controle 1TB SSD</p>
                        <p class="verde">à vista</p>
                        <p class="precos">R$4444,44</p>
                        <p class="tmenor">no pix com 9,9% de desconto</p>
                        <p class="precos">R$ 4.999,99</p>
                        <p>em até 12X de </p><h6 class="precos">R$ 416,67</h6><p>sem juros no cartão de crédito</p>
                        <a routerLink="#"> <button type="submit">comprar</button></a>
                    </div>
                </div>
                <div class="itens">
                    <img src="assets/IMG/pcg1.png" alt="pc gamer">
                    <div class="texto-produto">
                        <h2>Computador Game Mania III</h2>
                        <p>AMD Ryzen 145 9999GB</p>
                        <p>DDR98, SSD M.4 999GB</p>
                        <p class="verde">à vista</p>
                        <p class="precos">R$4.444,44</p>
                        <p class="tmenor">no pix com 9,9% de desconto</p>
                        <p class="precos">R$ 4.999,99</p>
                        <p>em até 12X de</p><h6 class="precos">R$ 416,67</h6><p>sem juros no cartão de crédito</p>
                        <a routerLink="#"> <button type="submit">comprar</button></a>
                    </div>
                </div>
                <div class="itens">
                    <img src="assets/IMG/fone_ps5.png" alt="headsets">
                    <div class="texto-produto">
                        <h2>Headeset Gamer Pulse 3D</h2>
                        <p>Whireless Headset</p>
                        <p>PS4 e PS5</p>
                        <p class="verde">à vista</p>
                        <p class="precos">R$444,44</p>
                        <p class="tmenor">no pix com 9,9% de desconto</p>
                        <p class="precos">R$ 499,99</p>
                        <p>em até 12X de </p><h6 class="precos">R$ 41,67</h6><p>sem juros no cartão de crédito</p>
                        <a routerLink="#"> <button type="submit">comprar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bannerClubeGameMania">
        <div class="main-grid pcgm">
            <div class="conteudo-banner cgm">
                <div class="botao">
                    <button type="submit">Inscreva-se</button>
                </div>
            </div>
        </div>
    </section>
  </main><!--corpo -->
