<footer><!--rodapé -->
    <div class="rodape">
        <div class="links-footer">
            <div class="siga-nos">
                <h2>Siga-nos</h2>
                <a routerLink=""><i class="fa-brands fa-facebook fa"></i></a>
                <a routerLink=""><i class="fa-brands fa-instagram"></i></a>
                <a routerLink=""><i class="fa-brands fa-twitter"></i></a>
                <a routerLink=""><i class="fa-brands fa-youtube"></i></a>
                <a routerLink=""><i class="fa-brands fa-twitch"></i></a>   
            </div>
        </div>
        <img class="logo-rodape" src="assets/IMG/Gamemania.gif" alt="Logo Game Mania">
        <div class="sociais">
            <p>Faça parte do nosso clube, receba notícias e promoções!</p>
  
            <form action="">
                <input id="campo-email" type="email" placeholder="E-mail" required>
                <button onclick="cadastrar()">Cadastrar</button>                
            </form>
        </div>
    </div>        
  </footer><!--rodape -->