<header><!--cabeçalho -->
    <div class="corpoCabecalho">
        <img src="assets/IMG/Gamemania.gif" alt="logo game mania">
        <nav id="menu" class="cabecalhoMenu">
            <a routerLink="/">inicio</a>
            <a routerLink="/pcgamer">pc gamer</a>
            <a routerLink="/consoles">consoles</a>                   
            <a routerLink="/loja">loja</a>                   
            <a routerLink="/login">clube game mania</a>
        </nav><!--class="cabecalhoMenu" -->
        <div class="menu-bars">
            <a routerLink="#" id="barras" onclick="mostrarMenu()"><i class="fa-solid fa-bars"></i></a>
        </div><!--class="menu-bars" -->
    </div><!--class="corpoCabecalho" -->
  </header><!--cabeçalho -->
